

table.tablesorter th.tablesorter-headerUnSorted {
    background-image: url('/images/black-unsorted.gif');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    cursor: pointer;
	/*background-color: #333;
	color: #FFF; font-weight: bold;
	height: 40px;
	text-align:right;
	padding-right:30px;*/
}

.tablesorter th.tablesorter-headerSortUp,
.tablesorter th.tablesorter-headerAsc
{
	background-image: url('/images/black-asc.gif');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    cursor: pointer;
	/*background-color: #333;
	color: #FFF; font-weight: bold;
	height: 40px;
	text-align:right;
	padding-right:30px;*/
}

.tablesorter th.tablesorter-headerSortDown,
.tablesorter th.tablesorter-headerDesc {
    background-image: url('/images/black-desc.gif');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    cursor: pointer;
	/*background-color: #333;
	color: #FFF; font-weight: bold;
	height: 40px;
	text-align:right;
	padding-right:30px; */
}